html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1, h2 {

<link href="https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap" rel="stylesheet">  font-family: 'Bad Script', cursive;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: pink;
}

h1, h2 {colour pink
  font-family: 'Bad Script', cursive;
}
a {
  color: #9D6381;

h
  padding: 100px 150px;
}

/* PAGE HEADER
-----------------------------------------*/
header
padding: 2px 10px 2px 10px; /* top, right, bottom, left */

colour:pink {
  background: #CECCCC;
}
.loves {
  background: #pink;
}

body{
  background-image: url(https://wallpapercave.com/wp/3WcqMYG.jpg);
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
}

section

footer {
  background:yellowS;
  color: #CECCCC;
}section {
  background: pink
about {
  background: pink
  /* PAGE HEADER*/
  body {
    header, 1400x500
  section, 34
  footer {15
    padding: 100px 150px;
  }
  h1, h2 {
    margin: 0;
    h1 {
      font-size: 75px;
    }
    p {
      font-size: 18px;
      line-height: 1.5;
